<div class="container-fluid p-5">
  <ng-select
    placeholder="Search for movies"
    (change)="onSelect()"
    [notFoundText]="notFoundText"
    [typeahead]="typeahead"
    [(ngModel)]="movieIndex">
    <ng-option *ngFor="let movie of movies; let i = index"
      [value]="i">{{movie.Title}} ({{movie.Year}})</ng-option>
    <ng-option *ngIf="!movies.length" value="-1" disabled>{{notFoundText}}</ng-option>
  </ng-select>
  <div *ngIf="selectedMovie !== undefined"
    class="selected-movie">
    <app-movie-details [movie]="selectedMovie"></app-movie-details>
  </div>
</div>